    {% load static %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock title %}</title>
        {% comment %} <script src="https://cdn.tailwindcss.com"></script> {% endcomment %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>
        <link rel="stylesheet" href="{% static 'css/output.css' %}"/>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <style>
        body{
            font-family: "Inter", sans-serif;
        }
    </style>
    </head>
    

    <body class='bg-gray-50'>

<header>
  <nav>
    <div class="flex flex-wrap justify-around items-center bg-gray-900 text-white p-4">

        <div class="flex items-center gap-4">
          <img src="{% static 'images/19925.png' %}" alt="Event Image" class="w-16 rounded-full" />

          <h1 class="text-3xl font-extrabold tracking-widest">EVENTIFY</h1>
        </div>

      <div>
        <ul class="flex flex-wrap items-center gap-6 text-lg">
          <a href="{% url 'home' %}" class="hover:text-orange-400 cursor-pointer font-medium tracking-wide text-white">HOME</a>
          <a href="{% url 'dashboard' %}" class="hover:text-orange-400 cursor-pointer font-medium tracking-wide text-white">DASHBOARD</a>
          <a href="{% url 'create-event' %}" class="hover:text-orange-400  cursor-pointer font-medium tracking-wide text-white">CREATE EVENT</a>
          <a href="{% url 'create-category' %}" class="hover:text-orange-400  cursor-pointer font-medium tracking-wide text-white">CREATE CATEGORY</a>
        </ul>
      </div>

    </div>
  </nav>
</header>

  {% block content %}
  
  {% endblock content %}

  <footer class="bg-gray-950 text-white text-center p-10 mt-10 font-bold">
    <p>&copy; 2025 EVENTIFY. All rights reserved.</p>
    <p>Privacy Policy | Terms of Service</p>
  </footer>
</body>
</html>
